<h1>Shorten your link!</h1>
<mat-card>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <input name="originalUrl" id="originalUrl" required matInput ngModel placeholder="Enter URL here"/>
      </mat-form-field>
      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid"
        >Shorten</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>


<mat-card *ngIf="shortUrl">
  <h2>Your link now looks like this</h2>
  <mat-card-content>
    <a href="{{'http://localhost:8000/links/' + shortUrl}}" (click)="onClick()">{{'http://localhost:8000/links/' + shortUrl}}</a>
  </mat-card-content>
</mat-card>


